<header>
    <nav>
        <ul>
            <li><a href="{# url '' #}">صفحه اصلی</a></li>
            <li><a href="{# url '' #}">ثبت نام</a></li>
            <li><a href="{# url '' #}">ورود</a></li>
            <li><a href="{# url '' #}">{{ user }}</a></li>
            <li><a href="{# url '' #}">خروج</a></li>
            <li>
                <form action="" method="get">
                    <input type="text" placeholder="جستجو">
                    <button type="submit">جستجو</button>
                </form>
            </li>
        </ul>
    </nav>
</header>