<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <span class="fs-4">Simple header</span>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">صفحه اصلی</a></li>
                <li><a href="#" class="nav-link px-2 text-white">خدمات</a></li>
                <li><a href="#" class="nav-link px-2 text-white">بلاگ</a></li>
                <li><a href="#" class="nav-link px-2 text-white">درباره ما</a></li>
                <li><a href="#" class="nav-link px-2 text-white">تماس با ما</a></li>
            </ul>
            <form class="row g-2 align-items-center" role="search">
                <div class="col-10">
                    <input type="search" class="form-control form-control-dark bg-dark text-light" placeholder="جستجو..." />
                </div>
                <div class="col-1">
                    <button type="submit" class="btn w-100"></button>
                </div>
            </form>

            <div class="text-end">

                {% if user.is_authenticated %}
                <a href="#" type="button" class="btn btn-outline-light me-2">
                    {{ user }}{% if user.get_fullname is not None %}|{{ user.get_fullname }}{% endif %}
                </a>
                <a href="#" type="button" class="btn btn-danger">خروج</a>

                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" type="button" class="btn btn-primary">داشبورد</a>
                {% endif %}

                {% else %}
                <a href="#" type="button" class="btn btn-outline-light me-2">
                    ورود
                </a>
                <a href="#" type="button" class="btn btn-warning">ثبت نام</a>
                {% endif %}

            </div>
        </div>
    </div>
</header>