{% extends 'base/base.html' %}
{% load static %}
{% block title %}
ورود
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock styles %}
{% block content %}
<form action="" class="form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'social:begin' 'github' %}" class="github">ادامه با گیت هاب</a>
    <br>
    <button class="btn center-btn btn-success" type="submit">ورود</button>
    <a class="btn center-btn btn-warning" href="{% url 'password_reset' %}">رمز عبور خود را فراموش کردید؟</a>
</form>
{% endblock content %}